.entry.pure-grid
  .entry-info.pure-u-2-3
    .entry-header
      %span.entry-title= entry.title
      %span submitted by
      = render_entry_submitter entry
      %span= entry.created_at.to_s(:long)
    .entry-description
      :markdown
        #{entry.description}
  .entry-image.pure-u-1-4
    %img{ src: entry.image }
